<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site1.master.cs" Inherits="test.Site1" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <title>Club Redo is best do</title>
   <link rel="stylesheet" href="Styles/StyleSheet1.css" type="text/css" />
    <asp:ContentPlaceHolder id="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <div id="wrapper">
    </div>

    <form id="form1" runat="server">
    <div>
        <div id = "wrapper">
        </div>
        <div id = "banner">
            <asp:Image ID="Image1" runat="server" ImageUrl="~/Pictures/Phishing_Banner_Smaller.png" Width="100%" />
        </div>
        <div id = "navigation">
            <ul id = "nav">
                <li><asp:HyperLink ID="HyperLink1" runat="server">Webshop</asp:HyperLink></li>
                <%--<li><asp:HyperLink ID="HyperLink2" runat="server" NavigateUrl="~/Pages/About.aspx">About</asp:HyperLink></li>--%>
                <li><asp:HyperLink ID="HyperLink3" runat="server">Reports</asp:HyperLink></li>
                <li><asp:HyperLink ID="HyperLink4" runat="server">Management</asp:HyperLink></li>
                
                <li><asp:HyperLink ID="HyperLink5" runat="server" NavigateUrl="~/Pages/About.aspx">About</asp:HyperLink></li>
                <li><asp:HyperLink ID="HyperLink6" runat="server" NavigateUrl="~/Pages/Forum.aspx">Forum</asp:HyperLink></li>
                <li><asp:HyperLink ID="HyperLink7" runat="server" NavigateUrl="~/Pages/Home.aspx">Home</asp:HyperLink></li>
                <li><asp:HyperLink ID="HyperLink8" runat="server" NavigateUrl="~/Pages/login.aspx">Login</asp:HyperLink></li>

                
                <%--<li><asp:HyperLink ID="HyperLink5" runat="server">Login</asp:HyperLink></li>
                <li><asp:HyperLink ID="HyperLink6" runat="server">Home</asp:HyperLink></li>
                <li><asp:HyperLink ID="HyperLink7" runat="server">Forum</asp:HyperLink></li>
                <li><asp:HyperLink ID="HyperLink8" runat="server">Management</asp:HyperLink></li>
                <li><asp:HyperLink ID="HyperLink8" runat="server">Management</asp:HyperLink></li>
                --%>


            </ul>

        </div>
        <div id = "content">
        
        <asp:ContentPlaceHolder id="ContentPlaceHolder1" runat="server">
        
        </asp:ContentPlaceHolder>

        </div>





    </div>
    </form>
</body>
</html>
